.main-container {
    --translateY: calc(0%);
    position: absolute;
    width: 420px;
    height: 320px;
    top: 170px;
    left: 50%;
    overflow: hidden;
    opacity: 1;
    transform: translate3d(-50%, var(--translateY), 0);
    transition: all .5s ease-in;
    transform-origin: bottom;
    z-index: 5;
    &.folded {
        top: 50%;
        height: 60px;
        margin-top: -30px;
        transition: all 1s ease;
    }

    &>h1 {
        line-height: 60px;
        text-align: center;
        letter-spacing: .3em;
        cursor: pointer;
        &.active {
            color:rgba(0, 0, 0, .5);
        }
        &:hover {
            opacity: .7;
        }
    }
   
    .content-outer{
        width: 420px;
        height: 320px;
        border-radius: 15px;
        transition: height .5s ease-in;
        h1{
            line-height: 60px;
            text-align: center;
            font-weight: 400;
            text-shadow: 0 1px 1px #333;
            cursor: pointer;
            &:hover {
                opacity: .7;
            }
        }
        .content{
            font-size: 15px;
            padding-top: 36px;
            text-align: center;
            letter-spacing: .1em;
            p {
                
                line-height: 24px;
            }
            a {
                color: #999;
                transition: color .3s ease;
                text-decoration: none;
                &:hover {
                    color: rgba(0, 0, 0, .9);
                }
            }
        }
    }
}