* {
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-container{
    width: 100%;
    height: 100%;
}